{% extends 'base.html.twig' %}

{% block title %}Juego!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <span>Bienvenido: {{ app.user.username }}</span>
    <a href="/logout">Cerrar sesion</a>

    {% if 'USER_ADMIN' in app.user.roles %}
    <br />
        <a href="/admin">Panel admin</a>
    {% endif %}

    <h1>Juego!</h1>
    <h2>Crear partida</h2>
    <a href="/startGame">Crear</a>
    
    <h2>Lista de partidas</h2>
    {% for game in gamesStarted %}
        <div style="border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <span style="font-size: 14px; color: #333;">Partida {{ game.id }}</span> | 
            <span style="font-size: 14px; color: #333;">{{ game.local.username }}</span>
            {% if game.local.username  !=  app.user.username  %}
            <a href="/continueGame/{{game.id}}" style="text-decoration: none; color: #007BFF; font-weight: bold; margin-left: 10px;">Jugar</a>
            {% endif %}
        </div>
    {% endfor %}
    <h2>Tus partidas jugadas</h2>
    {% for game in gamesCompleted %}
        <div style="border: 1px solid #ddd; border-radius: 5px; padding: 10px; margin-bottom: 10px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
            <span style="font-size: 14px; color: #333;">Partida {{ game.id }}</span> <br /> 
            <span style="font-size: 14px; color: #333;">{{ game.local.username }}</span>: <span style="font-size: 14px; color: #333;">{{ game.localCard.number }} de {{ game.localCard.suit }} </span> | <span style="font-size: 14px; color: #333;">{{ game.localCard2.number }} de {{ game.localCard2.suit }}</span> <br /> 
            
            {# Muestro las partidas iniciadas y las completadas #}
            {% if game.result is not null %}
                <span style="font-size: 14px; color: #333;">{{ game.away.username }}</span>: <span style="font-size: 14px; color: #333;">{{ game.awayCard.number }} de {{ game.awayCard.suit }}</span> | <span style="font-size: 14px; color: #333;">{{ game.awayCard2.number }} de {{ game.awayCard2.suit }}</span> <br /> 
                
                {# Muestro resultado #}
                {% if game.result == -1 %}
                    <span style="font-size: 14px; color: blue;">Gana {{ game.local.username }}</span>
                {% elseif game.result == 0 %}
                    <span style="font-size: 14px; color: red;">Empate</span>
                {% elseif game.result == 1 %}
                    <span style="font-size: 14px; color: blue;">Gana {{ game.away.username }}</span>
                {% endif %}
                <br /> 
                <span style="font-size: 14px; background-color: green; color: white; padding: 5px;">PARTIDA COMPLETADA</span> 



            {% else %}
                <span style="font-size: 14px; background-color: red; color: white; padding: 5px;">PARTIDA INICIADA</span> 

            {% endif %}


            
        </div>
    {% endfor %}

</div>
{% endblock %}
